<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<%= form_for @level,
    :url => {
            :controller => :levels,
            :action => :update,
    } do |f| %>
    <%= render 'level_form', :f => f %>
    <button type="submit"><%= t 'actions.update' %></button>
<% end %>
